{% extends "layout.html" %} {% block content %}
<div class="w-60 p-4 container">
  <div class="exercise__container">
    <div class="video-container">
      <iframe
        class="video"
        src="{{ exercise['video_url'] }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <h3>{{ exercise['formatted_name'] }}</h3>
    <span class="exercise__container-author">Author</span>
    <div class="exercise__container-body">
      <div class="exercise__container-data">
        <span>{{ exercise['views']}} views</span>
        <span class="exercise__container-data-date"
          >Upload Date: {{ exercise['upload_date'] }}</span
        >
      </div>
    </div>
    <form method="POST" action="/exercise/{{ exercise['type'] }}/{{ exercise['name'] }}">
      <span>Like</span>
      <input type="hidden" id="like" name="like" value="like" />
      <button type="submit">
        <i class="bi bi-hand-thumbs-up-fill"></i>
      </button>
    </form>
    {{% if session['email'] %}} {{% endif %}}
    <p>{{ exercise['description'] }}</p>
  </div>

  <div class="comment__container">
    <form method="POST" action="/exercise/{{ exercise['type'] }}/{{ exercise['name'] }}">
      <textarea
        id="message"
        name="message"
        placeholder="Enter comment..."
        rows="5"
        required
      ></textarea>
      <button>Post</button>
    </form>
    <div class="comment__container-wrapper">
      {% for comment in comments %} {% for c in comment['comments'] %}
      <div class="comment__container-comments">
        <p>{{ c['comment'] }}</p>
        <div class="exercise__container-data">
          <span>{{ comment['email'] }} </span>
          <span class="exercise__container-data-date">{{ c['timestamp'] }} </span>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
