{% extends "layout.html" %} {% block content %}
<div class="w-80 p-4 container landing-container">
  <div class="qotd">
    <div>
      <h3 class="display-7">Pending List</h3>
      <span> </span>
    </div>
  </div>

  <table  class="table table-striped table-bordered">
    <thead class="thead-dark text-capitalize">
      <tr>
          <td>Approved</td>
          <td>Likes</td>
          <td>Level</td>
          <td>Views</td>
          <td>Video Url</td>
          <td>Descrption</td>
          <td>Image</td>
          <td>Name</td>
          <td>Muscle Groups</td>
          <td>Exercise Type</td>
          <td>Upload Date</td>
          <td>Pending</td>
      </tr>
    </thead>
    <tbody>
      {% for exercise in exercises %}
    <tr style="word-wrap: break-word">
        {% for key, value in exercise.items() %}
        {% if key == 'image_url' %}
        <td><img
          class="mx-2"
          height="100"
          width="100"
          src="{{ value }}"
        /></td>
        {% elif key == 'video_url' %}
        <td style="max-width: 9rem"><a style="word-wrap: break-word" href="{{ value }}">{{ value }} </a></td>
        {% else %}
      <td>{{ value }}</td>
        {% endif %}
        {% endfor %}
        <form action="/pending" method="POST">
          <input type="hidden" id="type" name="type" value="{{ exercise['type'] }}" />
          <input type="hidden" id="name" name="name" value="{{ exercise['name'] }}" />
          <input type="hidden" id="approval" name="approval" value="approved" />
        <td><button type="submit" class="btn btn-success">Approve</button></td>
        </form>
    </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>
</div>
{% endblock content %}
