{% extends "layout.html" %} {% block content %}
<div class="w-80 p-4 container landing-container">
  <div class="qotd">
    <div>
      <h3 class="display-7">Quote of Day</h3>
      <span>
        <p class="lead">'{{ quote['q'] }}' : {{ quote['a'] }}</p>
      </span>
    </div>
  </div>

  <div class="card__container">
    {% for item in exercise %}
    <a href="/exercise/{{ item['type'] }}/{{ item['name'] }}" class="card__container-card">
      <img
        class="card__container-card-image"
        src="https://source.unsplash.com/random"
        alt="{{ item['title'] }}"
      />
      <div class="card__container-card-body">
        <span class="card__container-card-title">{{ item['name'] }}</span>
        <span class="card__container-card-author">Author</span>
        <div class="card__container-card-data">
          <span class="card__container-card-views">1000 views</span>
          <span class="card__container-card-date">Upload Date: {{ item['upload_date'] }}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
