{% extends "layout.html" %} {% block title %}Upload{% endblock %} {% block content %}
<div class="w-50 p-3 container-sm">
  <header class="mx-10">
    <h2 class="display-4">Upload Exercise</h2>
    {{ macros.print_flash_messages() }}
  </header>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="name" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Type of exercise</label>
      <select id="exercise_type" name="exercise_type" class="form-select">
        {% for type in exercise_types %}
        <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Exercise Level</label>
      <select id="level_select" name="level_select" class="form-select">
        {% for level in exercise_level %}
        <option value=" {{ level }} ">{{ level }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3 justify-content-center">
      <label class="form-label">Muscle groups (check all that apply)</label>
      <div class="btn-group" role="group" aria-label="Upper body muscles" style="flex-wrap: wrap">
        {% for muscle in muscle_groups %}
        <input
          type="checkbox"
          class="btn-check"
          name="muscles"
          id="{{ muscle }}"
          value="{{ muscle }}"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary float-left" for="{{ muscle }}">{{ muscle }}</label>
        {% endfor %}
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" name="description" class="form-control" id="description" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Video URL (optional)</label>
      <input type="text" name="url" class="form-control" id="url" />
    </div>
    <div class="mb-3">
      <label class="form-label">Exercise Image (optional)</label>
      <input type="file" name="file" class="form-control" id="file" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Upload To Personal Profile or Website</label>
      <select id="exercise-location" name="exercise-location" class="form-select">
        {% for location in exercise_location %}
        <option value="{{ location }}">{{ location }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3 mt-3">
      <button type="submit" class="btn btn-primary mb-3">Upload</button>
    </div>
  </form>
</div>

{% endblock content %}
