container_commands:
    command1:
        command: cd /home/ec2-user && python3 -m venv venv && source venv/bin/activate && pip3 install boto3 && export AWS_DEFAULT_REGION=ap-southeast-2 && python3 user_table.py && python3 profile_table.py && python3 comment_table.py && python3 exercise_table.py && deactivate

option_settings:
    "aws:elasticbeanstalk:container:python":
        WSGIPath: application:application

