{% extends "layout.html" %} {% block content %}

<div class="container p-4 search__wrapper">
  {% for exercise in list_of_exercises %}
  <a class="search__container" href="/exercise/{{ exercise['type'] }}/{{ exercise['name'] }}">
    <div class="search__container-image">
      <img
        src="{{ exercise['image_url'] }}"
        style="object-fit: cover; width: 200px; height: 200px"
      />
    </div>
    <div class="search__container-body">
      <div class="search__container-title">
        <h5 class="card-title">{{ exercise["formatted_name"] }}</h5>
        <span>Views: {{ exercise["views"] }}</span>
        <p class="card-text">{{ exercise["description"] }}</p>
      </div>
      <div class="search__container-tags">
        <p class="card-text">
          <span class="text-muted">
            <span>Muscles worked:</span>
            <i>
              {% for muscle_group in exercise["muscle_groups"] %} {{ muscle_group }}, {% endfor
              %}</i
            >
          </span>
        </p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock content %}
